* {
    cursor: url(../image/cursor_3.png), pointer;
}
::-webkit-scrollbar {
    width: 15px;
    background-color: black;
}
::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(90deg, rgb(0, 174, 179), rgb(109, 0, 0) 47%, rgb(255, 0, 0));
    border-radius: 10px;
    border: 2px solid black;
}
::-webkit-scrollbar-thumb:active {
    background: -webkit-linear-gradient(90deg, rgb(0, 174, 179)10%, rgb(109, 0, 0) 50%, rgb(255, 0, 0)90%);
    border: 1px solid black;
}
body {
    margin: 0px;
    margin-bottom: 30%;
    background: -webkit-linear-gradient(30deg, rgb(0, 174, 179), rgb(0, 0, 0) 47%, rgb(255, 0, 0));
    background-size: cover;
    color: white;
    font-family: sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
/* .body-name, .body-name-hover{ 
    font-size: ;
}*/
.body-name-hover {
    position: absolute;
    left: 30px;
    top: 10px;
    display: none;
}
.home:hover .body-name {
    opacity: 0;
}
.home:hover .body-name-hover {
    display: block;
}
header {
    height: 6em;
    display: flex;
    align-items: center;
    background-color: #00000066;
    border: 1px solid #007e8f33;
    padding: .5vw .5vw .5vw 3vw;
}
.YouTube {
    margin-left: 4%;
}
iframe {
    width: 30vw;
    height: 17vw;
    border-radius: .5vw;
    transition: 1s;
}
iframe:hover {
    box-shadow: 0px 10px 10px rgb(5, 5, 5);
}
.YouTube-box {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #007e8f33;
    border-radius: 5px;
}
.YouTube-info {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: auto;
    margin-bottom: 8vw;
    padding: 10px 20px 10px 20px;
    font-size: 1vw;
}
.YouTube-info h2 {
    margin-bottom: 5%;
    font-size: 1.6vw;
}
.YouTube-info h3 {
    margin: 0;
    color: #9ee3ff;
    font-size: 1.4vw;
}