body {
    margin: 0px;
    background-color: #08002e;
    color: white;
}
.logo {
    margin: 10px;
    border-radius: 25px;
    transition: 1s;
}
.logo:hover {
    border-radius: 50px;
}
.head-page {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background-color: #007e8f9d;
}

.Hello {
    margin-left: 10%;
}
.Hello-text {
    color: #9ee3ff;
    opacity: 0;
    transition: 2s;
}
.head-page:active .Hello-text {
    opacity: 1;
}